@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@Html.Partial("IntroHelper", Model,
                        viewData: new ViewDataDictionary { { "showTitle", 1 }, { "headingTag", "h3" } })

<a href="@Model.Content.Url">Read more</a>