@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Text
@{
    int cachedDays = 3 * 60 * 60 * 24;

    IPublishedContent root = CurrentPage.AncestorOrSelf(1);

    var siteName = root.GetPropertyValue("siteName");
    var title = CurrentPage.GetPropertyValue("title");
    var introParagraph = CurrentPage.GetPropertyValue("introParagraph");
    if (string.IsNullOrEmpty(introParagraph))
    {
        introParagraph = (root.GetPropertyValue("introParagraph") + " " + title).Trim();
    }
}

@Html.CachedPartial("MetaKeywords", Model, cachedDays, cacheByPage: true)
<meta name="description" content="@introParagraph" />
<meta name="author" content="Pixel-to-Code by ISNT Limited @DateTime.Today.Year" />
<title>@title | @siteName</title>
